/* Geral */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #121212;
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    margin-bottom: 40px;
    margin-top: 20px;
}

.pageContainer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* Barra Lateral */
.profileBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 50px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    border: 4px solid #B3B3B3;
    border-radius: 50px;
}

.profileBar img {
    max-width: 250px;
    border-radius: 50px;
}

.profileBar p {
    text-align: center;
    margin-top: 20px;
}

.profileBar a {
    font-size: 2rem;
    margin-left: 10px;
    display: block;
    padding: 10px;
    transition: color 0.3s, transform 0.5s;
}

.profileBar strong {
    font-weight: normal;
    color: #32d3a8;
}

.profileBar a:hover {
    color: #32d3a8;
    transform: scale(1.4);
}

.profileBar-socialLinks {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Conteúdo Central */
.mainSection {
    margin-left: 100px;
    margin-right: 100px;
}

.mainSection-indicadores {
    color: #B3B3B3;
    margin-bottom: 10px;
}

/* Introdução */
#introducao strong {
    font-weight: normal;
    color: #32d3a8;
}

#introducao h1 { 
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    font-weight: 400;
}

#introducao p {
    color: #B3B3B3;
}

/* Historico */
#historico h1 {
    font-family: 'Inter', sans-serif;
    color: #32d3a8;
    font-size: 70px;
    font-weight: 400;
}

.historico-infoBlock h2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.historico-infoBlock p {
    color: #B3B3B3;
    transition: color 0.3s;
}

.historico-infoBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #B3B3B3;
    border-radius: 35px;
    padding: 20px;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.historico-infoBlock:hover {
    border-color: #32d3a8;
    color: #32d3a8;
}

.historico-infoBlock:hover p {
    color: #32d3a8 !important;
}

.historico-infoCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.historico-infoCard div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 20px;
    border: 4px solid #B3B3B3;
    border-radius: 20px;
}

.historico-infoCard p {
    text-align: center;
    height: 50%;
}

.historico-infoCard h2 {
    text-align: center;
    height: 25%;
}

.historico-infoCard a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B3B3B3;
    text-align: center;
    border: 4px solid #B3B3B3;
    border-radius: 20px;
    height: 70px;
    width: 200px;
    transition: color 0.3s, transform 0.5s;
}

.historico-infoCard a:hover {
    border-color: #32d3a8;
    color: #32d3a8;
    transform: scale(1.05);
}

/* Interesses */
.interesses-habilidades, .interesses-hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.interesses-description {
    text-align: center;
}

.interesses-description h1 {
    font-family: 'Inter', sans-serif;
    color: #32d3a8;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 5px;
}

.interesses-description p {
    font-size: 15px;
}

.interesses-infoBlock div {
    border: 3px solid #B3B3B3;
    border-radius: 20px;
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 20px;
}

.interesses-infoBlock p {
    font-size: 17px;
    color: #B3B3B3;
}

.interesses-infoBlock h2 {
    color: #32d3a8;
}

/* Aprendizados */

#aprendizado h1 {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 5px;
}

.aprendizado-porcentageBars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.aprendizado-porcentageBlock {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 3px solid #B3B3B3;
    border-radius: 20px;
    padding: 20px;
    padding-top: 0px;
}

.aprendizado-porcentageBlock progress {
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.aprendizado-porcentageBlock progress::-webkit-progress-value {
    background-color: #32d3a8;
}

.aprendizado-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aprendizado-info h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

.aprendizado-info img {
    width: 30px;
    height: 30px;
}

.ferramentas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.ferramentas-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.ferramentas-item h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}

.aprendizado-duvidas p{
    color: #B3B3B3;
}

.aprendizado-duvidas textarea {
    resize: none;
    border: 3px solid #B3B3B3;
    background-color: #121212;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.aprendizadoDuvidas-buttons {
    text-align: right;
}

.aprendizadoDuvidas-buttons button{
    color: white;
    background-color: #121212;
    width: 10%;
    height: 40px;
    border: 3px solid white;
    cursor: pointer;
}

/* Barra de Navegação */
.navigationBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: calc(50vh - 250px);
    font-size: 27px;
    height: 450px;
    margin-left: 30%;
    margin-right: 30%;
    border: 4px solid #B3B3B3;
    border-radius: 40px;
}

.navigationBar a {
    display: block;
    padding: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: color 0.3s, transform 0.5s;
}

.navigationBar a:hover {
    color: #32d3a8;
    transform: scale(1.4);
}